* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Mulish', sans-serif;
}

body {
    height: 100vh; /* definimos uma altura para o body porque por padrão ele é um elemento "block" e só pega 100% da lagura */
    background: linear-gradient(90deg, #000, #000e 25%, #0000), url(../image/background.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 80px 128px 50px 128px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    body {
        padding: 30px 30px 25px 30px;
        background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.3)), url(../image/background.png);  
    }
}
/* MENU-NAVEGAÇÃO */
.menu-container {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container__links-navegation {
    display: flex;
    gap: 32px; 
}

.menu-container__links-navegation a {
    font-weight: 700;
    text-shadow: 2px 2px 5px black;
    padding: 6px;
    transition: all .4s ease-in-out;
}

.menu-container__links-navegation a:hover {
    background-color: #E62721;
}
/* MENU-NAVEGAÇÃO */


/* CONTEÚDO-PRINCIPAL*/
.content-main {
    flex-grow: 1;
    display: flex;
}

.content-main__text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text__movie-title {
    font-size: 7rem;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.text__movie-title span {
    font-size: 2.25rem;
    transform: translateY(35px);
    font-weight: 200;
}

.text__movie-sub-title {
    font-size: 2.6rem;
    font-weight: 300;
    font-style: italic;
    transform: translateY(-30px);
    color: #E62721;
}

.text__movie-description {
    max-width: 33rem;
    font-weight: 300;
    font-size: 1rem;
    transform: translateY(-10px);
    margin-bottom: 1.87rem;
}

.text__btn button {
    background-color: #E62721;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
    padding: 25px 60px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.content-main__social {
    width: 48px;
}

.content-main__social ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.content-main__social ul li {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-main__social ul li:hover {
    background-color: #E62721;
    border: #E62721;
    transition: all .3s ease-in-out;
}

.content-main__social ul li i {
    font-size: 1.5rem;
}




